@font-face {
    font-family: "JetBrainsMono-Regular";
    src: url(./fonts/ttf/JetBrainsMono-Regular.ttf);
}
@font-face {
    font-family: "JetBrainsMono-Medium";
    src: url(./fonts/ttf/JetBrainsMono-Medium.ttf);
}
@font-face {
    font-family: "JetBrainsMono-Bold";
    src: url(./fonts/ttf/JetBrainsMono-Bold.ttf);
}

body { font-family: 'JetBrainsMono-Regular', sans-serif; margin: 0; padding: 0; }
.footer { background-color: #ffffff; padding: 1px; text-align: center; transition: padding 0.3s ease-in-out; }
/*top, left, right, bottom*/
.main { 
    padding: 20px 80px 80px 50px;
    max-width: 1200px; /* Limits the width of the main content */
    margin: 0 auto; /* Centers the main content horizontally */
}


.shrink {
    padding: 5px;
    font-size: 10px;
}

h2{
    font-size: 32px;
}
p{
    font-size:18px;
}

.large-photo {
    width: 400px;
    height: auto;
}

.medium-photo {
    width: 220px; 
    margin: 5px;
    height: auto; /* maintain aspect ratio */
    border: 2px solid black; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 20px; 
    max-width: 50%; 
} 

.navigation { 
    position: relative;
    display: flex;  
    justify-content: center;
    align-items: center;
    background-color: #fff; 
    /* box-shadow: 0 0px 20px rgba(0,0,0,0.2); */
    padding: 10px;
    z-index: 101; 
    transition: padding 0.3s ease-in-out;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid #000;
}

#name {
    /* transition: font-size 0.1s ease; */
    position: absolute;
    left: 20px; 
    top: 5px;
    bottom: 10px;
    display: flex;
    color: rgb(0, 0, 0);
    align-items: center;
    font-size: 30px;
}
#name span{
    margin-left: 10px;
}   

#about{
    scroll-margin-top: 160px;
}
#home{
    scroll-margin-top: 150px;
}

#projects {
    margin-top: 50px; /* headroom */
}
.row {
    display: flex;
    justify-content: space-between; /* keeps columns spaced out evenly */
    align-items: center; /* center vertically*/
    margin-top: 20px;
  }
.column1 {
    flex: 1 1 50%; /* lets column grow but links its size on 50% of the parent's width */
    
}
.column1:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center; /* center text vertically */
    text-align: left; 
    padding-right: 20px; /* buffer from img */
}
.column1:nth-child(2) {
    display: flex;
    align-items: center; 
    justify-content: space-around; /* spreads imgs out */
    padding-left: 20px;  
    flex-wrap: nowrap; 
}

.navigation ul { 
    list-style-type: none; 
    margin: 0; padding: 0; 
    display:flex; 
    gap: 20px;
}
.navigation li { 
    display: inline-block; 
    /* width: 120px; */
    text-align: center;
}
.navigation ul li a {
    position: relative;
    display: block;
    color: black;
    padding: 16px 20px;

    text-decoration: none;
    transition: color 0.2s ease;
    font-size: 16px;
    transition: letter-spacing 0.1s ease-in-out;
}


.navigation ul li a::before, .navigation ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background: #999;
    transform: scaleX(0);
    transition: transform 0.2s ease;
}
.navigation ul li a::before { top: 0; }
.navigation ul li a::after { bottom: 0; }
.navigation ul li a:hover {
    /* color: #999; */
    animation: txtflicker 0.3s forwards;

}

.navigation ul li a:hover::before, .navigation ul li a:hover::after {
    transform: scaleX(1);
}

.chinese { font-family: 'Noto Sans SC', sans-serif; }
.chinese1 { font-family: 'Zhi Mang Xing', cursive; }
.chinese2 { font-family: 'Liu Jian Mao Cao', cursive; }
.chinese3 { font-family: 'Ma Shan Zheng', cursive; }

@keyframes txtflicker {
    0%  {   
        color: #CCC; 
    } 
    20% {   
        color: #DDD;  
    }
    100% {   
        color: #999;    
    }
}

@media (max-width: 768px) {
    .navigation {
        display: none;
    }

    .row {
        flex-direction: column; 
    }

    .column1 {
        justify-content: center;
    }
    .column1:nth-child(2) {
        flex-direction: row; /* Ensures images are always in a row */
    }

    .medium-photo {
        width: 40%; 
        max-width: none;
    }




    /* Hamburger menu */
    .hamburger-menu {
        display: block;
        position: fixed;
        width: 100%;
        background-color: #000000;
        padding: 14px;
        text-align: right;
        box-sizing: border-box;
    }

    .hamburger-menu span {
        display: inline-block;
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 5px;
        transition: all 0.3s ease;
    }

    .menu-toggled .bar1 {
        -webkit-transform: translateY(8px) rotate(-45deg);
        transform: translateY(8px) rotate(-45deg);
    }

    .menu-toggled .bar2 {opacity: 0;}
    .menu-toggled .bar3 {
        -webkit-transform: translateY(-8px) rotate(45deg);
        transform: translateY(-8px) rotate(45deg);
    }
}