.project-main{
    /* padding: 20px 80px 80px 140px; */
    max-width: 1000px;
    margin-left: 380px;
    margin-right: 220px;
    width: calc(100% - 300px);
    padding: 20px;
}


.sidebar {
    position: fixed; 
    left: 0;
    top: 0;
    width: 18%; 
    max-width: 300px;
    height: 100vh; /* need full viewport height */
    background-color: #f9f9f9; 
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); 
    overflow-y: auto; /* enables scrolling within the sidebar */
    overflow-x: hidden;
    padding: 20px;
    z-index: 102;
    border-right: 2px solid #000;
}
.sidebar::-webkit-scrollbar{width: 12px;}
.sidebar::-webkit-scrollbar-thumb{
    background: #DDD;
    border-radius: 5px;
    border: 3px solid transparent;
    background-clip: padding-box;
    transition: 0.3s ease-in-out;
}
.sidebar::-webkit-scrollbar-thumb:hover{
    background:#BBB;
    border:0;
}
.sidebar::-webkit-scrollbar-track-piece{background: transparent;}

#directory-tree {
    /*last is left*/
    /* padding: 0px 0px 0px 2px; */
    margin: 0;
}
#directory-tree ul {
    list-style: none;     
    padding-left: 10px;
    margin-left: 10px;   
}

#directory-tree li {
    margin-top: 0px;
    margin-left: 0px;
}

#directory-tree a {
    display: block;
    padding: 8px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    /* border-radius: 10px; */
}

#directory-tree a:nth-child(2) {
    font-size: 12px;
}


.folder-item{
    margin-top: 0px;
    padding-left: 0px;
    position: relative; /* for positioning the pseudo elements */
}
.file-item {
    margin-top: 10px;
    left: 0px;
    position: relative; 
}

.folder-name, .file-item a {
    /* display: block;  */
    padding: 2px 4px; 
    transition: border-bottom 0.1s ease-in-out;
    border-bottom: 1px solid transparent;
}
.folder-name:hover, .file-item a:hover {
    background-color: #eee;
    border-bottom: 1px solid #bbb;
}
.folder-name:first-child{
    font-family: "JetBrainsMono-Bold";
}


.folder-content {
    display: none;
}

.folder-item > .folder-name {
    cursor: pointer;
    user-select: none;  /* Prevent text selection */
}
.folder-item::before{
    content: '';
    display: inline-block;
    position: absolute;
    left: -30px;
    top: 0px;
    width: 20px; 
    height: 20px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../icons/folder-icon.svg'); 
    
}
#folder-text{
    font-family: "JetBrainsMono-Bold";
}


.file-item::before{
    content: '';
    position: absolute;
    left: -30px;
    top: 50%; /* center icon vertically */
    transform: translateY(-50%);
    width: 20px;
    height: 20px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../icons/wrench1.svg'); 
}

.folder-name {
    cursor: pointer;
    user-select: none;  /* Prevent text selection */
    display: flex;      /* Aligns icon and text horizontally */
    align-items: center; /* Centers items vertically */
}

.icon-folder-closed::before, .icon-folder-open::before {
    background-image: url('../icons/folder-icon.svg');        /* Use content for custom icons if using fonts or add background images */
    display: inline-block;
    width: 20px;       /* Adjust size as needed */
    height: 20px;      /* Adjust size as needed */
}

.icon-folder-open::before {
    /* Different content or background for the open state */
}

.icon-folder-closed, .icon-folder-open {
    margin-right: 5px; /* Space between icon and text */
}

.folder-item > .folder-name:hover, .file-item a:hover {
    background-color: #ddd; /* Darken the background on hover */
}


/* RIGHT SIDE */
.content-navigation {
    position: fixed;
    right: 0;
    top: 0;
    width: 12%;
    max-width: 200px;
    height: 100vh;
    overflow-y: auto;
    background-color: #f8f8f8;
    border-left: 1px solid #ccc;
    padding: 10px;
}

.content-navigation ul:first-child{
    padding-top: 80px;
}

pre {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-x: auto;
}


